<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogToConsole="true" internalLogToConsoleError="true" internalLogFile="/var/log/internal-nlog.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NewRelic.LogEnrichers.NLog" />
    <add assembly="Sentry.NLog" />
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="AsyncWrapper" name="async">
      <target name="NewRelicLogFile" xsi:type="Console">
        <layout xsi:type="newrelic-jsonlayout">
        </layout>
      </target>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="async" />
  </rules>
</nlog>
